<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Blog of MZULE</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
				<a href="index.html" id="logo">MZULE</a>
				<ul id="navigation">
					<li>
						<a href="index.html">home</a>
					</li>
					<li>
						<a href="me.html">about</a>
					</li>
					<li>
						<a href="http://weibo.com/u/2634262551/home?wvr=5">weibo</a>
					</li>
					<li>
						<a href="http://stackoverflow.com/users/1985786/jason-cao">stackoverflow</a>
					</li>
					<li>
						<a href="http://github.com/mzule/">github</a>
					</li>
					<li>
						<a href="http://www.zhihu.com/people/mzule">zhihu</a>
					</li>
				</ul>
			</div>
		</div>
